:root{
    --blue-color: #14274A;
    --yellow-color: #E0B973;
}

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top-header{
    position: relative;
    background: url(/practice-one/assets/img/MaskGroup.png) top center / cover no-repeat;
    padding-top: 50%;
}

.top-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(20, 39, 74, 0.5);
}

.top-header .header-content{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.top-header .nav-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.top-header nav {
    position: absolute;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
}

.top-header nav a {
    margin-left: 45px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.top-header nav a:hover{
    font-weight: bold;
}

.top-header .context-header{
    color: white;
    text-align: left;
    letter-spacing: 0.15rem;
    line-height: 1.4;
}

.top-header .context-header span {
    display: block;
    font-size: 2.2rem;
    text-transform: uppercase;
}

.top-header .context-header h1 {
    font-family: 'Adobe Garamond Pro';
    text-transform: uppercase;
    line-height: 0.9;
    letter-spacing: 0.7rem;
    font-size: 3.5rem;
}

.top-header .context-header h1::first-line {
    font-size: 7.25rem;
    text-shadow: -1px 1px 3px #000, 1px 1px 3px #000;
}

.top-header .context-header h1 > span{
    margin-bottom: 20px;
    line-height: 15px;
    font-size: 3.45rem;
}

.top-header .booking-header{
    display: inline-block;
}

.top-header .booking-header a{
    display: inline-block;
    color: white;
    background: var(--yellow-color);
    align-items: center;
    border-radius: 10px;
    padding: 1.125rem 2.2rem;
    text-decoration: none;
    font-weight: 600;
}

.top-header .scroll-header{
    color: white;
    font-weight: bold;
    margin: 30px 0 20px;
}

.top-header .scroll-header button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    margin-top: 10px;
}
